:root {
  --red: #f82b4d;
  --wine: #B10040;
  --wine-a003: rgba(177, 0, 65, 0.05);
  --grey: #222426;
  --grey-a080: rgba(34, 36, 38, 0.8);
  --grey-a060: rgba(34, 36, 38, 0.6);
  --grey-a030: rgba(34, 36, 38, 0.3);
  --grey-a020: rgba(34, 36, 38, 0.2);
  --grey-a010: rgba(34, 36, 38, 0.1);
  --grey-a005: rgba(34, 36, 38, 0.05);
  --white: white;
  --white-a080: rgba(255,255,255,0.8);
  --white-a060: rgba(255,255,255,0.6);
  --white-a030: rgba(255,255,255,0.3);
  --white-a020: rgba(255,255,255,0.2);
  --white-a010: rgba(255,255,255,0.1);
  --white-a005: rgba(255,255,255,0.05);
}